[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_EMAILJS_PUBLIC_KEY = ""
  VITE_EMAILJS_SERVICE_ID = ""
  VITE_EMAILJS_TEMPLATE_ID = ""
  VITE_EMAILJS_CONTACT_TEMPLATE_ID = ""
  GEMINI_API_KEY = ""
